
<ion-content class="ion-padding" fullscreen="true">
  <h3>Cadastro de Produto</h3>
  <ion-card>
    <!-- Campos básicos -->
    <ion-item>
      <ion-label position="stacked">Nome *</ion-label>
      <ion-input [(ngModel)]="produto.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Preço *</ion-label>
      <ion-input [(ngModel)]="produto.price" type="number" min="0.01" step="0.01"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Quantidade</ion-label>
      <ion-input [(ngModel)]="produto.quantity" type="number" min="1"></ion-input>
    </ion-item>

    <!-- Campos opcionais -->
    <ion-item>
      <ion-label position="stacked">Data de Validade</ion-label>
      <ion-input [(ngModel)]="produto.expirationDate" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-textarea [(ngModel)]="produto.description"></ion-textarea>
    </ion-item>

    <!-- Foto -->
    <ion-button expand="block" (click)="tirarFoto()">
      <ion-icon name="camera" slot="start"></ion-icon>
      Adicionar Foto
    </ion-button>

    <img *ngIf="produto.image" [src]="produto.image" style="max-width: 100%">

    <!-- Botão salvar -->
    <ion-button 
      expand="block" 
      color="primary" 
      (click)="salvar()"
      [disabled]="!produto.name || produto.price <= 0">
      Salvar Produto
    </ion-button>
  </ion-card>
</ion-content>

 <ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" [routerLink]="['/tab1']">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab2" [routerLink]="['/tab2']">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Carrinho</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="tab3" [routerLink]="['/tab3']">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
