<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Pães</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/pao.png" alt="Pão Francês" />
      <p class="texto_1">Pão Francês<br>1 Unidade<br>R$<span id="preco">0,50</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pão Francês', 0.50, 'assets/images/pao.png')">Adicionar</button>
    </div>
  
   

  

  
  <div id="item">
    <img src="assets/images/paopuma.png" alt="Pão Pullman" />
    <p class="texto_1">Pão de Forma Pullman<br>400g<br>R$<span id="preco">8,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pão de Forma Pullman', 8.99, 'assets/images/paopuma.png')">Adicionar</button>
  </div>
  
 




</div>
</ion-content>
