<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Ofertas</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/pao.png" alt="Pão Francês" />
      <p class="texto_1">Pão Francês<br>1 Unidade<br>R$<span id="preco">0,50</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Pão Francês', 0.50, 'assets/images/pao.png')">Adicionar</button>
    </div>
  
   
   
  <div id="item">
    <img src="assets/images/leite.png" alt="leite integral" />
    <p class="texto_1">Leite Integral<br>1 Litro<br>R$<span id="preco">2,99</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Leite Integral', 2.99, 'assets/images/leite.png')">Adicionar</button>
  </div>


  <div id="item">
    <img src="assets/images/waffer.png" alt="biscoito waffer" />
    <p class="texto_1">Biscoito Waffer<br>100g<br>R$<span id="preco">2,09</span></p>
    <button class="btn_adicionar" (click)="adicionarAoCarrinho('Biscoito Waffer', 2.09, 'assets/images/waffer.png')">Adicionar</button>
  </div>

  


</div>
</ion-content>
