<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltarLoja()">
        <ion-icon name="close" class="xis"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="mercado_titulo">
      Carrinho de Compras
    </div>
  </ion-toolbar>
</ion-header>



   <ion-content  fullscreen="true">
    <h3> Carrinho de Compras</h3>
   <div class="titulopadrao">Carrinho de Compras</div>
 <ion-list *ngIf="produtosCarrinho.length > 0; else vazio">
  <ion-item *ngFor="let produto of produtosCarrinho">
    <ion-label>
      <h2>{{ produto.name }}</h2>
      <p>Quantidade: {{ produto.quantity }}</p>
      <p>Preço: {{ produto.price | currency:'BRL' }}</p>
    </ion-label>
    <ion-button color="danger" slot="end" (click)="removerItem(produto.id)">Remover</ion-button>
  </ion-item>
</ion-list>

<ng-template #vazio>
  <p>Seu carrinho está vazio.</p>
</ng-template>

<ion-button expand="block" (click)="comprar()" [disabled]="produtosCarrinho.length === 0">
  Comprar
</ion-button>
   
  </ion-content>