

<ion-content>


  <ion-title class="titulopadrao1">
    Ofertas do Dia
  </ion-title>


<ion-title class="titulopadrao">
  Catalogo
</ion-title>

<div class="catalogo">
  <div id="categorias"(click)="goToPaes()">
    <img src="assets/icon/pao.png" alt="Categoria Pães" />
    <p class="texto_2">Pães</p>
  </div>
  
  <div id="categorias" (click)="goToCombos()">
    <img src="assets/icon/combo.png" alt="Categoria Combos" />
    <p class="texto_2">Combos</p>
  </div>
  <div id="categorias" (click)="goToOfertas()">
    <img src="assets/icon/oferta.png" alt="Categoria Ofertas" />
    <p class="texto_2">Ofertas</p>
  </div>
  
</div>

</ion-content>
