<ion-header>
  <ion-toolbar>
    <ion-title>Produtos Cadastrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h3> Catalogo </h3>
  <ion-list>
    <ion-item *ngFor="let produto of produtos">
      <ion-thumbnail slot="start">
        <img [src]="produto.image || 'assets/img/placeholder.png'" alt="Imagem do produto" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ produto.name }}</h2>
        <p>Preço: {{ produto.price | currency:'BRL' }}</p>
      </ion-label>
      <ion-button slot="end" (click)="adicionarAoCarrinho(produto)">Adicionar ao Carrinho</ion-button>
    </ion-item>
  </ion-list>
</ion-content>