<ion-header>

</ion-header>


<ion-content id="main-content">
  <ion-title class="mercado_titulo">
   <h3>Combos</h3>
  </ion-title>
  <div class="produtos">
    
    <div id="item">
      <img src="assets/images/combo1.png" alt="combo1" />
      <p class="texto_1">Combo Snack Coca-Cola e Doritos <br>500ml(coca) 120g(doritos)<br>R$<span id="preco">20,00</span></p>
      <button class="btn_adicionar" (click)="adicionarAoCarrinho('Combo Snack Coca-Cola e Doritos', 20.00, 'assets/images/combo1.png')">Adicionar</button>
    </div>
  


</div>
</ion-content>
