/* Color Theme Swatches in Hex */
$color-logo-food-saver-1-hex: #455925;
$color-logo-food-saver-2-hex: #8BA663;
$color-logo-food-saver-3-hex: #F1F2C9;
$color-logo-food-saver-4-hex: #F2CF66;
$color-logo-food-saver-5-hex: #0D0D0D;

/* Color Theme Swatches in RGBA */
$color-logo-food-saver-1-rgba: rgba(69,89,37, 1);
$color-logo-food-saver-2-rgba: rgba(139,166,99, 1);
$color-logo-food-saver-3-rgba: rgba(241,242,201, 1);
$color-logo-food-saver-4-rgba: rgba(242,207,102, 1);
$color-logo-food-saver-5-rgba: rgba(13,13,13, 1);

/* Color Theme Swatches in HSLA */
$color-logo-food-saver-1-hsla: hsla(83, 41, 24, 1);
$color-logo-food-saver-2-hsla: hsla(84, 27, 51, 1);
$color-logo-food-saver-3-hsla: hsla(61, 61, 86, 1);
$color-logo-food-saver-4-hsla: hsla(45, 84, 67, 1);
$color-logo-food-saver-5-hsla: hsla(0, 0, 5, 1);
